*{
    margin:  0;
    padding: 0 ;
    box-sizing: border-box ;
    font-family: system-ui;
    
}
img{
    height:100%;
}
/*utilities*/
.container{
    padding: 0 100px;
}
.btn{
    border: none;
    border-radius: 50px;
    background-color: #0078BE;
    color: white;
    font-size: 22px;
    text-align: center;
    width: 145px;
    padding: 7px 35px;
    height: 60px;
    font-weight: bold;
    cursor:pointer;
}
/*Nav Bar*/
.header{
    padding-top: 20px;
}
.nav-bar{
    margin-top: 30px;
    height: 14vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-logo{
    height: 100% ;
    margin-right:30px;
    cursor:pointer;
}
.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    height:100%;
    width:auto;
}
.nav-links > li{
    list-style: none;
    color: white;
    font-weight: bolder;
    font-size: 24px;
    padding: 20px;
    margin:10px;
    cursor:pointer;
}
.nav-links > li:last-child{
    padding-right:0px;
    margin-right:0px;
}
.nav-links > li:not(:last-child):hover{
    background-color: rgba(27, 27, 27, 0.5);

}
/*Hero Section*/
.hero{
    background:url("../content/bdd-bg6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width:100vw;
    
}
.hero-container{
    margin-top:15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:60vh;
}
.hero-header{
    color:white;
    font-size:70px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 5vh;
    text-transform: capitalize;
}
.hero-bg-index{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hero-bg-index > li{
    list-style: none; 
    margin:8px;
    padding:8px;
    border-radius: 50px;
    cursor:pointer;
}
.hero-bg-index > li > div{
    height: 8px;
    width: 8px;
    background-color: rgba(27, 27, 27, 0.5);
    border-radius: 50px;
}
.hero-bg-index > li:nth-child(6),.hero-bg-index > li:hover{
    background-color: rgba(27, 27, 27, 0.5);
}
.hero-bg-index > li:nth-child(6) > div, .hero-bg-index > li > div:hover{
    background-color: #0078BE;
}
.navigator{
    border: solid white;
    border-left: 0;
    border-top: 0;
    padding: 15px;
    transform: rotate(45deg);
    cursor:pointer;
}
