*{
    margin:  0;
    padding: 0 ;
    box-sizing: border-box ;
    font-family: system-ui;
    color:#212121
}
img{
    height:100%;
    width:100%;
}

/*utilities*/
.container{
    padding: 0 67px;
}
.btn{
    border: none;
    border-radius: 33.5px;
    background-color: #0078BE;
    color: white;
    font-size: 14.74px;
    text-align: center;
    width: 97.15px;
    padding: 4.69px 23.45px;
    height: 40.2px;
    font-weight: bold;
    cursor:pointer;
}
.header{
text-align: center;
    font-size: 30.15px;
    font-weight: 1000;
    padding-bottom:40.2px
}
.card-title{
    text-align: center;
    font-weight: 1000;
    font-size: 20.1px;
    margin: 13.4px 0;
}
.card-desc{
    margin-top:20.1px;
    font-size: 16.75px;
    font-family: sans-serif;
    text-align: center;
    color: #646464;
    line-height: 1.3;
}
/*Nav Bar*/
.nav-header{
    padding-top: 13.4px;
    width:100vw;
}
.white{
    color:white;
}
.nav-bar{
    margin-top: 20.1px;
    height: 14vh;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-logo{
    height: 100% ;
    margin-right:20.1px;
    cursor:pointer;
}
.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    height:100%;
    width:auto;
}
.nav-links > li{
    list-style: none;
    color: white;
    font-weight: bolder;
    font-size: 16.08px;
    padding: 13.4px;
    margin:6.7px;
    cursor:pointer;
}
.nav-links > li:last-child{
    padding-right:0px;
    margin-right:0px;
}
.nav-links > li:not(:last-child):hover{
    background-color: rgba(27, 27, 27, 0.5);

}
.mobile-menu{
    display:none;
    color:white;
    font-size: 60px;
}
/*Hero Section*/
.hero{
    background:url("../content/bdd-bg6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width:100%;
}
.hero-container{
    margin-top:12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:60vh;
}
.hero-header{
    color:white;
    font-size:46.9px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 5vh;
    text-transform: capitalize;
    width:60vw
}
.hero-bg-index{
    width:30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hero-bg-index > li{
    list-style: none; 
    margin:5.36px;
    padding:5.36px;
    border-radius: 50px;
    cursor:pointer;
}
.hero-bg-index > li > div{
    height: 5.36px;
    width: 5.36px;
    background-color: rgba(27, 27, 27, 0.5);
    border-radius: 50px;
}
.hero-bg-index > li:nth-child(3),.hero-bg-index > li:hover{
    background-color: rgba(27, 27, 27, 0.5);
}
.hero-bg-index > li:nth-child(3) > div, .hero-bg-index > li > div:hover{
    background-color: #0078BE;
}
.navigator{
    border: solid white;
    border-left: 0;
    border-top: 0;
    padding: 10px;
    transform: rotate(45deg);
    cursor:pointer;
}
/*Foundations Section*/
.foundations{
    min-height:100vh;
    background-color: #f5f5f5;
    padding:40.2px 0;
}
.foundations-header{
    text-align: center;
    font-size: 30.15px;
    font-weight: 1000;
    padding-bottom:40.2px
}
.foundations-cards{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    padding:20.1px;
    justify-content: space-between;
}
.foundations-card{
    background-color: white;
    width:15%;
    padding:33.5px 23.45px;
    margin:15px;
    border-radius: 13.4px;
    box-shadow: -3.35px 2px 5.36px #9e9e9e;
}
.foundations-img{
    height:80.4px;
    display:flex;
    justify-content: center;
}
.foundations-img img{
    width:auto;
}
.foundations-card:hover{
    background-color: #50b8f5ce;
    cursor: pointer;
}
.foundations-card:hover:last-child{
    background-color: #df61ebc5;
}
/*Explore Section*/
.explore{
    background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../content/explore-bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height:80vh;
        width:100%;
        display: flex;
        flex-direction: column;
        align-content: center;
}
.explore-video{
    height:300px;
    width:600px;
    margin:auto;
}
/*Join BDD*/
.join-bdd{
    padding:20.1px 0 40.2px 0;
    min-height: 100vh;
}
.join-bdd-container{
    display:flex;
    flex-direction: row;
}
.join-bdd-img{
    height:25vw;
}
.join-bdd-cards{
    display:flex;
    flex-direction: row;
    width:65%;
    justify-content: space-around;
}
.join-bdd-card{
    background: url('../content/bg-icon.png');
    width:24%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:13.4px 20.1px;
}
.join-bdd-card > .btn{
    width: 150.75px;
    font-weight: normal;
}
.join-bdd-list > li{
    list-style-image: url('../content/li-style-img.png');
    padding:10px 0;
    font-size: 16px;
}
.join-bdd-app-stores{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding:20.1px;
}
.join-bdd-download-app{
    font-size: 13.4px;
    font-weight: 1000;
    margin: 6.7px 20.1px;
    color:#646464;
}
.join-bdd-app-store-imgs{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.app-store-img{
    margin:20.1px;
    height:6vh;
}
/* Stats section */
.bdd-stats{
    background: url('../content/parallax-light.jpg');
    min-height:60vh;
    padding:2vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
}
.bdd-stats-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:80%;
}
.bdd-stats-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:25%;
}
.bdd-stats-icon{
    width:93.8px;
}
.bdd-stats-header{
    -webkit-text-stroke-color: rgb(52, 194, 52);
    text-align: center;
    -webkit-text-stroke-width: 2px;
    font-size:5vh;
    font-weight: bold;
    color:transparent;
    padding: 13.4px 0;
}
.pink-stroke{
    -webkit-text-stroke-color: rgb(179, 23, 101);
}
.blue-stroke{
    -webkit-text-stroke-color: rgb(49, 60, 211);
}
.bdd-stats-title{
    font-weight:1000;
    font-size:2vh;
    text-align: center;
}
/* Trends */
.trends{
    background: linear-gradient( rgba(156, 151, 151, 0.3), rgba(156, 151, 151, 0.3) ),url('../content/bdd-bg-trends.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20.1px 4vw;
}
.container-btns{
    display: flex;
    align-items: center;
}
.trends-container{
    width:100%;
    height:70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6.7px 0;
    align-items: center;
    overflow: hidden;
}
.trends-card{
    background-color: white;
    width:30%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -3.35px 2px 5.36px #9e9e9e;
}
.trend-img{
    height: 60%;
}
.trend-title{
    width:70%;
    font-size: 14.74px;
    padding:6.7px 20.1px;
    font-weight: 1000;
}
.trend-title:hover{
    color: #0078BE;
    cursor: pointer;
}
.trend-author{
    border-top:solid 1.4px #646464;
    padding:20.1px;
    padding-top:10px;
    font-weight: bold;
}
.trends-card-btn{
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 47.57px;
    height: 47.57px;
    border-radius: 6.7px;
    font-size: 20.1px;

}
.trends-card-btn:first-child{
    transform: translate(50%, -50%);
}
.trend-btn{
    margin:20px;
    width:154px;
}
/* Academy Section */
.academy{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../content/academy-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:20.1px 33.5px;
    min-height:50vh;
}
.academy-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:20vh;
}
.academy-card{
    height:100%;
    width:20%;
    padding:20.1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.academy-card-main{
    align-items:flex-start;
    width:40%;
}
.academy-card-main > .academy-logo{
    width:20%
}
.academy-logo{
    height:100%;
    width:40%;
}
.academy-title{
    padding:13.4px 0;
    font-size:17.42px;
    font-weight: 4.2;
    line-height: 26.8px;
}
.academy-btn{
    width:350px;
}
/* Testomonials Section */
.testomonials{
    background-image: url("../content/bg-icon-reverse.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding:20.1px 33.5px;
    min-height:50vh;
}
.testomonials-header{
    width:40%;
    text-align: left;
}
.testomonials-cards{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}
.testomonials-card{
    width:45%;
    height: 14vw;
    border:#9e9e9e solid 1px;
    padding:2vw;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}
.cards-scroller{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:60%;
}
.testomonials-img{
    height:60%;
    width:40%;
    border-radius: 5px;
}
.testomonials-desc{
    font-weight: 700;
    font-size: 14px;
}
/* Footer */
.footer{
    background-color: #212121;
    padding:30px;
}
.footer-header{
    color:#646464
}
.footer-section{
    display:flex;
    justify-content: space-around;
}
.footer-list{
    padding:15px;
}
.footer-list > ul > li{
    margin-top: 10px;
    list-style: none;
    color:white;
}
.footer-list > ul > li:hover, .email:focus{
    border-bottom: 1px solid #0078BE;
    cursor: pointer;
}
.light{
    color:#9e9e9e;
    font-size: 14px;
}
.email{
    border:0;
    background-color: transparent;
    color:#0078BE;
    height: 30px;
    width:60%;
}
.email:focus{
    cursor: default;
}
.subscribe-btn{
    width:30%;
}
/* media queries */
@media screen and (max-width: 850px){
    .nav-header{
        background-color: #050505fb;
        padding: 15px 20px;
    }
    .mobile-menu{
        display:block;
    }
    .nav-links{
        display:none;
    }
    .foundations-card{
        width:25%;
    }
    .join-bdd-img{
        display:none;
    }
    .join-bdd-cards{
        width:100%;
    }
    .trends-card{
        width:50%;
    }
    .trends-card:last-child{
        display:none;
    }
}
@media screen and (max-width: 480px){
    .nav-header{
        background-color: #050505fb;
        padding: 15px 20px;
    }
    .nav-links{
        display:none;
    }
    .mobile-menu{
        display:block;
    }
    .foundations-cards{
        width:100%;
        justify-content: center;
        align-items: center;
    }
    .foundations-card{
        width:80%;
    }
    .join-bdd-img{
        display:none;
    }
    .join-bdd-cards{
        width:100%;
        flex-wrap: wrap;
    }
    .join-bdd-card{
        width:50%;
    }
    .explore-video{
        width:80%;
    }
    .bdd-stats-card{
        width:20%;
    }
    .bdd-stats-icon{
        width:60px;
    }
    .trends-card:nth-child(1),.trends-card:last-child{
        display:none;
    }
    .trends-card{
        width:100%;
    }
    .card-title{
        font-size:18px;
    }
    .academy-card-main p{
        font-size: 12px;
        line-height: 2;
    }
    .testomonials-header{
        width:100%;
        font-size:22px
    }
    .testomonials{
        flex-direction: column;
    }
    .testomonials-cards{
        width:100%;
    }
    .cards-scroller{
        width:100%;
    }
    .testomonials-card{
        margin:12px;
        height:100%;
        width:50%;
    }

}